@import "../resources/colors";
@import "../resources/animation.scss";

.ModalCircle3 {
  .circleButton {
    background-color: transparent;
    color: $color4;
    font-size: 1.5em;
    transition: all .0s;
  } 

  .bgItemGlobe {
    background-color: #01274E;
    position: absolute;
    display: grid;
    top: -650px;
    left: 0;
    z-index: 4;
    width: 1022px;
    height: 878px;

    .itemGlobe {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
      background-color: #F7F7F7;
      align-self: center;
      justify-self: center;
      padding: 2rem;
      border-radius: 10px;
      width: 560px;

      .enfasis-1 {
        background-color: #F7F7F7;
        border-radius: 10px;
        padding: 0.5rem;
      }

      .buttonClose {
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        padding: 0.4rem 0.1rem;
        .iconButton {
          color: red;
          font-size: 2.3em;
          transition: all 0.5s;
        }

        &:hover {
          .iconButton {
            color: #cf0000;
          }
        }
      }
    }
  }
}
